---
import ElderCard from "../components/ElderCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const elders = [
  {
    name: "Edgar Ibarra",
    image: "/images/leaders/pastor-edgar.jpg",
    office: "Teaching Elder",
    bio: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut
          sequi atque veniam reiciendis quae maiores corporis quis, impedit
          tempora dolorem perspiciatis beatae autem, aliquam temporibus ad,
          facilis id eos alias accusamus sed rerum odit nesciunt. Earum
          reiciendis mollitia magnam exercitationem consequatur doloremque quo.
          Aut officia fuga porro cupiditate itaque.`,
  },
  {
    name: "Colin Pearson",
    image: "/images/leaders/elder-colin.jpg",
    office: "Ruling Elder",
    bio: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut
          sequi atque veniam reiciendis quae maiores corporis quis, impedit
          tempora dolorem perspiciatis beatae autem, aliquam temporibus ad,
          facilis id eos alias accusamus sed rerum odit nesciunt. Earum
          reiciendis mollitia magnam exercitationem consequatur doloremque quo.
          Aut officia fuga porro cupiditate itaque.`,
  },
];

const deacons = [
  {
    name: "Andy Motdoch",
    image: "/images/leaders/deacon-andy.jpg",
    office: "Deacon",
  },
  {
    name: "Nathan Bell",
    image: "/images/leaders/deacon-nathan.jpg",
    office: "Deacon",
  },
];
---

<PageLayout title="Leadership">
  <div class="leadership-blurb">
    <div class="container pb-0">
      <h2 class="text-4xl font-bold text-center mb-8 text-gray-800">
        Our Local Church Government
      </h2>
      <div class="blurb-container max-w-3xl mx-auto">
        <p class="text-lg leading-relaxed text-gray-700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut
          sequi atque veniam reiciendis quae maiores corporis quis, impedit
          tempora dolorem perspiciatis beatae autem, aliquam temporibus ad,
          facilis id eos alias accusamus sed rerum odit nesciunt. Earum
          reiciendis mollitia magnam exercitationem consequatur doloremque quo.
          Aut officia fuga porro cupiditate itaque.
        </p>
      </div>
    </div>
  </div>

  <div class="leadership-details">
    <div class="container !my-2 !pt-0">
      <div class="elders">
        <h2 class="text-4xl font-bold text-center mb-8 text-gray-800">
          Elders
        </h2>
        {
          elders.map((elder) => {
            return <ElderCard data={elder} />;
          })
        }
      </div>
      <div class="deacons">
        <h2 class="text-4xl font-bold text-center mb-10 text-gray-800">
          Deacons
        </h2>
        <div class="flex flex-wrap justify-evenly gap-8 w-11/12 mx-auto">
          {
            deacons.map((deacon) => (
              <div class="deacon-card bg-white p-8 shadow-lg rounded-xl flex flex-col items-center">
                <img
                  class="w-40 h-40 md:w-52 md:h-52 rounded-full object-cover mb-4"
                  src={deacon.image}
                  alt={deacon.name}
                />
                <span class="text-lg font-semibold text-gray-700">
                  {deacon.name}
                </span>
                <span class="text-md italic text-gray-700">
                  {deacon.office}
                </span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .leadership-blurb .blurb-container {
    margin: 0 auto;
    width: 65%;
  }

  @media only screen and (max-width: 768px) {
    .leadership-blurb .blurb-container {
      width: 100%;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
